*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
.sec__one,.sec__two{
    height:100vh;
}

.sec__one{
    position: relative;
    background: linear-gradient(42deg, #ec7f00, #f2ab0e,#F8D41C);
}

#main-can{
    width: 18%;
    position: absolute;
    left: 42%;
    bottom: 0;
    z-index: 999;
}

#main-text{
    
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 20px;
    color: white;
    font-size: 220px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 888;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

#main-orgslice{
width: 14%;
    position: absolute;
    top: 16%;
    left: 11%;
    z-index: 920;
}

#main-leaf1{
    width: 20%;
    position: absolute;
    bottom: 0%;
    left: 53%;
    transform: rotate(350deg);
    z-index: 998;
}

#main-leaf2{
    position: absolute;
    bottom: 1%;
    left: 38%;
    z-index: 1111;
}

#main-leaf3{
    position: absolute;
    z-index: 1111;
    top: 53%;
    left: 36%;
    transform: rotate(228deg);
}
#main-leaf4{
    position: absolute;
    z-index: 1111;
    left: 57%;
    bottom: 44%;
    transform: rotate(329deg);
}
#main-leaf5{
    position: absolute;
    left: 38%;
    bottom: 50%;
    z-index: 1111;
}
#main-leaf6{
    position: absolute;
    z-index: 1111;
    left: 56%;
    bottom: 27%;
    transform: rotate(8deg);
}
#main-leaf7{
    position: absolute;
    z-index: 1111;
    left: 75%;
    top: 42%;
}

#main-leaf8{
    position: absolute;
    z-index: 1111;
    left: 14%;
    top: 50%;
}

#main-orgsliceleft{
    position: absolute;
    width: 11%;
    bottom: 10%;
    left: 25%;
}

#main-orgsliceright{
    position: absolute;
    width: 14%;
    bottom: 10%;
    left: 64%;
    z-index: 0;
}